<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ML API</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css" />
  </head>

  <body>
    <div class="login">
      <h1>Predict your sentiment</h1>
      <form action="{{ url_for('predict')}}" method="post">
        <textarea
          type="text"
          name="sentence_text"
          placeholder="Write your sentence"
          rows="15"
          cols="35">
              {{text_clean}}
          </textarea
        >
        <div>
          <button type="submit" class="btn btn-primary btn-block btn-large">
            Predict
          </button>
        </div>
      </form>
    </div>
    {{prediction_text}}
  </body>
</html>
